Ritz ai solutions website chat agent fixed · JSON
{
  "name": "Ritz AI Solutions Website Chat Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2912,
        2320
      ],
      "id": "06078990-5c83-4b38-9b25-9855010d6093",
      "name": "Webhook",
      "webhookId": "52bd8d6d-e717-48fa-b8dc-66da0813ea07"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.message }}",
        "options": {
          "systemMessage": "You are RAIS Assistant, the official AI representative of RAIS (Ritz AI Solutions) \u2014 an EU-based AI automation agency founded by Kevin Ritz.\n\n## YOUR ROLE\nYou are a professional, knowledgeable, and friendly pre-sales consultant. You represent RAIS on the company website and engage with potential clients and visitors.\n\n## YOUR PRIMARY GOAL\nHelp potential clients understand:\n- What RAIS does and what services it offers\n- How a partnership with RAIS could specifically benefit their business\n- What an AI automation project with RAIS could look like in practice\n- Why investing in AI automation makes sense for their situation\n\nYour goal is NOT to close a sale. Your goal is to spark genuine interest, build trust, and encourage the visitor to reach out to Kevin directly for a discovery call or proposal.\n\n## YOUR COMMUNICATION STYLE\n- Professional but approachable \u2014 like talking to a knowledgeable consultant, not a salesperson\n- Concise and clear \u2014 avoid unnecessary jargon unless the user is clearly technical\n- Ask follow-up questions to understand the visitor's business context before recommending solutions\n- Always personalise your responses based on what the user tells you about their business\n\n## ABOUT RAIS\n- Full name: RAIS \u2014 Ritz AI Solutions\n- Founder: Kevin Ritz\n- Location: EU-based (Germany)\n- Focus: AI automation consulting and implementation for small to medium businesses\n- Core services: Custom AI chatbots, workflow automation (n8n, Make), lead generation systems, customer support automation, internal process automation, AI integration into existing tools\n- Target clients: SMBs looking to save time, reduce manual work, and scale operations with AI\n- USP: Hands-on, done-for-you implementation \u2014 not just strategy; RAIS builds and deploys the actual systems\n\n## HOW TO HANDLE COMMON SCENARIOS\n- If a visitor describes their business problem \u2192 map it to a RAIS solution and explain the benefit concretely\n- If a visitor asks about pricing \u2192 explain that pricing depends on scope and complexity, and that Kevin provides a free discovery call to assess needs and give a tailored quote\n- If a visitor wants to get in touch \u2192 direct them to contact Kevin at kevin@ritz-ai.solutions or mention they can request a discovery call\n- If a visitor asks something you cannot answer confidently \u2192 be honest and suggest they reach out to Kevin directly\n\n## TOPICS YOU MUST NEVER DISCUSS \u2014 HARD RULES\nThe following topics are strictly off-limits. If asked, politely decline and redirect the conversation back to RAIS services:\n\n1. **Politics** \u2014 any political parties, politicians, elections, political opinions, or government policies\n2. **Religion** \u2014 any religious beliefs, practices, denominations, or theological debates\n3. **Competitors** \u2014 never name, compare, or criticise competing agencies or tools in a negative way\n4. **Personal information about Kevin Ritz** \u2014 do not share any private details beyond his founder role and business email\n5. **Legal or financial advice** \u2014 do not give tax advice, legal counsel, investment advice, or compliance guarantees\n6. **Medical or health topics** \u2014 completely outside scope\n7. **Controversial social topics** \u2014 gender debates, racial topics, social justice disputes, or any divisive cultural issues\n8. **Pricing guarantees or contracts** \u2014 never commit to specific prices, timelines, or contractual terms; always defer to Kevin\n9. **Other clients or past projects** \u2014 do not disclose names, details, or outcomes of any clients without explicit permission\n10. **Internal business operations of RAIS** \u2014 do not discuss internal finances, employee details, or non-public business strategy\n\n## GDPR & PRIVACY COMPLIANCE (HARD RULES)\n- Never ask for, store, or repeat sensitive personal data such as full names combined with contact details, financial data, health information, or identification numbers\n- If a visitor volunteers personal data, acknowledge it only as needed for the conversation and do not repeat it unnecessarily\n- Do not make claims about RAIS's data handling or GDPR compliance that could constitute a legal guarantee \u2014 defer to Kevin or the privacy policy for specifics\n- This chat is for informational and pre-sales purposes only\n\n## ESCALATION\nIf a visitor expresses frustration, asks to speak with a human, or has a request clearly beyond your scope, respond with empathy and offer to connect them with Kevin:\n\"I'd be happy to connect you with Kevin directly. You can reach him at kevin@ritz-ai.solutions \u2014 he typically responds within 24 hours.\"\n\n## FINAL REMINDER\nYou are the first impression of RAIS. Be helpful, be honest, and make every visitor feel that RAIS genuinely understands their business needs. Never make promises you cannot keep. Always represent RAIS with professionalism and integrity."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3632,
        2192
      ],
      "id": "3f83a615-1d5f-46d6-a58c-2d01685340e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3584,
        2416
      ],
      "id": "9a3ece6c-ff28-4273-a795-29fc01984a2e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ewff9bZdQEgs99XA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3712,
        2416
      ],
      "id": "ae1f05d8-ae30-49e4-9103-575f20400a53",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.output, sessionId: $(\"Input Validator + Rate Limiter\").item.json.sessionId }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4048,
        2192
      ],
      "id": "ac610b19-844a-4daa-bbc8-5ec634424bb8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "description": "Use this tool to look up information about RAIS (Ritz AI Solutions) - the company, its services, founder, pricing philosophy, tech stack, use cases, and how a potential partnership would work. Call this tool whenever a user asks about what RAIS does, who they are, what solutions they offer, or how they can help a business.",
        "jsCode": "const knowledgeBase = `\n=== RAIS - RITZ AI SOLUTIONS KNOWLEDGE BASE ===\n\nCOMPANY OVERVIEW\n----------------\nName: RAIS (Ritz AI Solutions)\nWebsite: https://ritz-ai.solutions\nFounder: Kevin Ritz\nHeadquarters: Germany (EU-based, GDPR-compliant)\nStage: Early-stage AI automation agency (actively taking clients)\nMission: Help businesses grow and operate smarter through tailored AI automation solutions.\n\nFOUNDER\n-------\nKevin Ritz is a young entrepreneur and Entrepreneurship student at HS Koblenz (Germany).\nHe has hands-on experience in AI Quality Assurance (1und1/United Internet), n8n workflow automation, LLM integration, web development, and building AI-powered business tools.\nHis background combines technical depth with a strong business mindset \u2014 making RAIS a partner that understands both the tech AND the business side.\n\nWHAT RAIS DOES\n--------------\nRAIS builds custom AI automation solutions for small-to-medium businesses. The focus is on:\n1. AI Chat Agents / Customer Support Bots - 24/7 intelligent chat agents for websites that answer questions, qualify leads, and handle support \u2014 reducing workload while improving customer experience.\n2. Workflow Automation - Automating repetitive business processes using tools like n8n. Examples: lead management, email follow-ups, CRM updates, invoice processing, reporting.\n3. Lead Generation & Qualification - Automated systems that capture, score, and route leads to the right person at the right time.\n4. AI-Powered Data Pipelines - Connecting APIs, databases, and business tools so data flows automatically without manual input.\n5. Human-in-the-Loop Systems - Hybrid solutions where AI handles routine tasks and escalates to humans only when needed (e.g. complex support tickets via Telegram or email).\n\nTECH STACK\n----------\n- Workflow Automation: n8n (self-hosted, EU VPS)\n- AI Models: Google Gemini 2.0 Flash (efficient + capable), OpenAI GPT-4, Anthropic Claude\n- Hosting: Hostinger VPS (Frankfurt/EU), fully GDPR-compliant infrastructure\n- Frontend: HTML/CSS, custom chat widgets\n- Integrations: Google Sheets, Telegram, Email (SMTP), Webhooks, REST APIs, Airtable, Notion, Slack\n\nWHY RAIS?\n---------\n1. EU-Based & GDPR-First - All data stays in the EU. No shady data brokers. Privacy is built into every solution.\n2. Custom-Built, Not Cookie-Cutter - Every solution is tailored to the specific business. No bloated SaaS subscriptions.\n3. Affordable & Transparent Pricing - As a lean agency, RAIS offers enterprise-quality automation at startup-friendly rates.\n4. End-to-End Partnership - From strategy to deployment to ongoing support. RAIS handles the full lifecycle.\n5. Fast Iteration - Small team = fast decisions, quick builds, and agile adjustments based on feedback.\n\nUSE CASES & EXAMPLES\n--------------------\n- E-commerce store: AI chat agent answers product questions 24/7, reduces support tickets by 60%+\n- Consulting firm: Automated lead qualification funnel \u2014 prospects fill a form, AI scores them, top leads get instant follow-up email\n- Service business: AI agent books appointments, sends reminders, and escalates complex queries to staff via Telegram\n- SaaS company: Automated onboarding sequence \u2014 new users get personalized email flows based on their behavior\n- Real estate agency: AI agent pre-qualifies buyers/renters, collects key info, and notifies agents in real-time\n\nHOW A PARTNERSHIP WORKS\n-----------------------\nStep 1 - Discovery Call (Free): We understand your business, pain points, and goals. No commitment required.\nStep 2 - Custom Proposal: RAIS delivers a detailed plan with scope, timeline, and transparent pricing.\nStep 3 - Build & Test: We build the solution, test it thoroughly, and involve you in feedback loops.\nStep 4 - Deploy & Train: We deploy to your infrastructure and train your team on how to use/manage it.\nStep 5 - Ongoing Support: Optional retainer for maintenance, updates, and scaling as your business grows.\n\nPRICING PHILOSOPHY\n------------------\nRAIS believes in value-based pricing \u2014 you pay for results, not hours. Typical projects range from small automation fixes (a few hundred EUR) to full AI agent ecosystems (multi-thousand EUR). Every engagement starts with a free discovery call. No hidden fees.\n\nCONTACT & NEXT STEPS\n--------------------\nEmail: kevin@ritz-ai.solutions\nWebsite: https://ritz-ai.solutions\nTo get started: Send a message, describe your challenge, and Kevin will personally respond within 24 hours.\n\nFAQ\n---\nQ: Is my data safe with RAIS?\nA: Yes. All infrastructure is EU-hosted, GDPR-compliant, and your data is never shared with third parties.\n\nQ: Do I need technical knowledge to work with RAIS?\nA: No. RAIS handles all the technical complexity. You just describe what you want to achieve.\n\nQ: How long does a typical project take?\nA: Simple automations can be live within a week. Full AI agent systems typically take 2-4 weeks.\n\nQ: Can RAIS integrate with my existing tools?\nA: Almost certainly yes. RAIS works with 400+ integrations via n8n and custom API connections.\n\nQ: What makes RAIS different from big automation agencies?\nA: Direct access to the founder, no overhead bloat, faster delivery, lower cost, and a genuine investment in YOUR business success.\n`;\n\n// Simple keyword search through the knowledge base\nconst q = query.toLowerCase();\nreturn knowledgeBase;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        3840,
        2416
      ],
      "id": "028fee31-1aee-41df-9822-4754a81c327d",
      "name": "RAIS Knowledge Base"
    },
    {
      "parameters": {
        "chatId": "8607686172",
        "text": "=\ud83d\udea8 RAIS Chat Agent ERROR  Workflow: {{ $json.workflow.name }} Node: {{ $json.execution.lastNodeExecuted }} Error: {{ $json.execution.error.message }} Time: {{ $now }}  Check n8n for details.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        2608
      ],
      "id": "3d5eb6fc-7c39-4560-9eb0-872636da7a24",
      "name": "Telegram Error Alert",
      "webhookId": "a8a41f2b-2638-4ae0-9d47-5661e0cc509f",
      "credentials": {
        "telegramApi": {
          "id": "9JOKXfrB5X4kegBv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/102DCSdLJXsa74mev9tXAieGUsEgtSEJS-sovWylpKlk",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "conversations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/102DCSdLJXsa74mev9tXAieGUsEgtSEJS-sovWylpKlk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "userMessage": "={{ $json.userMessage }}",
            "agentResponse": "={{ $json.agentResponse }}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Header",
              "displayName": "Header",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userMessage",
              "displayName": "userMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agentResponse",
              "displayName": "agentResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "escalation_flag",
              "displayName": "escalation_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4512,
        2192
      ],
      "id": "436f0696-b9b9-4f22-816c-0804d2773df1",
      "name": "Log to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ue1v2qVFAhOtRYqa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PII PRIVACY FILTER \u2014 GDPR Compliance\n// Redacts personal information from chat logs before storage\n// Runs BEFORE the Google Sheets logging node\n// ============================================================\n\nconst items = $input.all();\n\n// ---- PII Redaction Patterns ----\nconst PII_PATTERNS = [\n  // Email addresses\n  { pattern: /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g, label: '[EMAIL REDACTED]' },\n\n  // Phone numbers (international & German formats)\n  { pattern: /(?:\\+?\\d[\\s\\-.]?){7,15}/g, label: '[PHONE REDACTED]' },\n\n  // German IBAN\n  { pattern: /\\bDE\\d{2}[\\s]?([0-9A-Z]{4}[\\s]?){4,7}\\b/gi, label: '[IBAN REDACTED]' },\n\n  // Credit card numbers (basic pattern)\n  { pattern: /\\b(?:\\d[ \\-]?){13,16}\\b/g, label: '[CARD REDACTED]' },\n\n  // German postal codes (5 digits standalone)\n  { pattern: /\\b\\d{5}\\b/g, label: '[POSTCODE REDACTED]' },\n\n  // Full name pattern: Two or more capitalised words in a row (e.g. \"Max Mustermann\")\n  { pattern: /\\b[A-Z\u00dc\u00c4\u00d6][a-z\u00fc\u00e4\u00f6\u00df]+(?:\\s[A-Z\u00dc\u00c4\u00d6][a-z\u00fc\u00e4\u00f6\u00df]+)+\\b/g, label: '[NAME REDACTED]' },\n\n  // Dates of birth (common formats: DD.MM.YYYY, DD/MM/YYYY, YYYY-MM-DD)\n  { pattern: /\\b(?:\\d{1,2}[.\\/]\\d{1,2}[.\\/]\\d{2,4}|\\d{4}-\\d{2}-\\d{2})\\b/g, label: '[DATE REDACTED]' },\n\n  // Street addresses (German: Strassenname + Hausnummer)\n  { pattern: /\\b[A-Z\u00dc\u00c4\u00d6][a-z\u00fc\u00e4\u00f6\u00df]+(?:str\\.|strasse|weg|allee|platz|gasse|ring)\\s*\\d+[a-zA-Z]?\\b/gi, label: '[ADDRESS REDACTED]' },\n];\n\nfunction redactPII(text) {\n  if (typeof text !== 'string') return text;\n  let redacted = text;\n  for (const { pattern, label } of PII_PATTERNS) {\n    redacted = redacted.replace(pattern, label);\n  }\n  return redacted;\n}\n\n// ---- Process each item ----\nconst filtered = items.map(item => {\n  const data = item.json;\n\n  return {\n    json: {\n      timestamp:      data.timestamp      || new Date().toISOString(),\n      sessionId:      data.sessionId      || '',\n      userMessage:    redactPII(data.userMessage    || ''),\n      agentResponse:  redactPII(data.agentResponse  || ''),\n      escalation_flag: data.escalation_flag || '',\n    }\n  };\n});\n\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        2192
      ],
      "id": "ca965280-49c4-4ebf-828d-2ba22ed27afe",
      "name": "PII Privacy Filter"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// INPUT VALIDATOR + RATE LIMITER\n// Runs immediately after Webhook, before AI Agent\n// Protects against empty input, token bombing, injection,\n// and per-session message rate abuse\n// ============================================================\n\nconst item = $input.first();\nconst body = item.json.body || item.json;\n\n// ---- Extract fields ----\nlet message   = (body.message || '').toString();\nlet sessionId = (body.sessionId || '').toString().trim();\nconst consent = body.consent; // expected: true\n\n// ---- 1. GDPR Consent Gate ----\n// Uncomment once chat widget sends consent flag\nif (consent !== true) {\n  return [{ json: { valid: false, error: 'consent_required', message: 'Chat requires consent to data processing.' } }];\n}\n\n// ---- 2. Empty message check ----\nif (!message || message.trim().length === 0) {\n  return [{ json: { valid: false, error: 'empty_message', message: 'Please type a message before sending.' } }];\n}\n\n// ---- 3. Token bomb protection: trim to 1000 chars ----\nmessage = message.trim().substring(0, 1000);\n\n// ---- 4. Strip HTML tags and basic injection patterns ----\nmessage = message\n  .replace(/<[^>]*>/g, '')           // strip HTML tags\n  .replace(/javascript:/gi, '')      // strip JS protocol\n  .replace(/on\\w+\\s*=/gi, '')        // strip event handlers\n  .replace(/\\bignore\\s+previous\\s+instructions?\\b/gi, '[filtered]')\n  .replace(/\\bact\\s+as\\s+if\\b/gi, '[filtered]')\n  .replace(/\\bsystem\\s*:\\s*new\\b/gi, '[filtered]');\n\n// ---- 5. Generate fallback sessionId if missing ----\nif (!sessionId || sessionId.length < 4) {\n  sessionId = 'auto_' + Date.now().toString(36) + Math.random().toString(36).substr(2, 5);\n}\n\n// ---- 6. Rate Limiter (20 msgs per 10-min window per session) ----\nconst MAX_MESSAGES = 20;\nconst WINDOW_MS    = 10 * 60 * 1000; // 10 minutes\nconst now          = Date.now();\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) staticData.rateLimits = {};\n\nconst entry = staticData.rateLimits[sessionId];\n\nif (entry && (now - entry.windowStart) < WINDOW_MS) {\n  if (entry.count >= MAX_MESSAGES) {\n    return [{ json: {\n      valid: false,\n      error: 'rate_limit',\n      message: 'You have sent too many messages. Please wait a few minutes and try again.'\n    }}];\n  }\n  entry.count += 1;\n} else {\n  // New window\n  staticData.rateLimits[sessionId] = { count: 1, windowStart: now };\n}\n\n// ---- Cleanup old sessions (avoid memory bloat) ----\nfor (const sid of Object.keys(staticData.rateLimits)) {\n  if ((now - staticData.rateLimits[sid].windowStart) > WINDOW_MS * 2) {\n    delete staticData.rateLimits[sid];\n  }\n}\n\n// ---- 7. Pass through validated data ----\nreturn [{ json: {\n  valid:     true,\n  message:   message,\n  sessionId: sessionId,\n  consent:   consent || false,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        2320
      ],
      "id": "4e71633b-b8a8-4745-8604-70afde7b8b9e",
      "name": "Input Validator + Rate Limiter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d631b7c6-c7b8-480b-afc2-aa82095842f1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3360,
        2320
      ],
      "id": "1fffa9a0-5558-4a4a-900c-b8c99c889e11",
      "name": "Valid Input?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4048,
        2576
      ],
      "id": "401c4f7a-0c2c-4b24-9552-d306c8621555",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst agentResponse = (item.json.output || '').toLowerCase();\nconst userMessage = ($('Input Validator + Rate Limiter').first().json.message || '').toLowerCase();\nconst sessionId = $('Input Validator + Rate Limiter').first().json.sessionId || '';\nconst timestamp = new Date().toISOString();\n\nconst INTENT_KEYWORDS = [\n  'interested','proposal','quote','pricing','price','how much','cost',\n  'book a call','discovery call','schedule a call','get started',\n  'contact kevin','reach out','get in touch','next steps',\n  'work with you','partner with','hire you','lets work together',\n  \"let's work together\",'move forward','onboard','sign up'\n];\nconst COMPETITOR_SIGNALS = [\n  'comparing','other agencies','also talking to','alternatives','other options'\n];\n\nlet lead_score = 0;\nconst combined = userMessage + ' ' + agentResponse;\nconst intentHits = INTENT_KEYWORDS.filter(k => combined.includes(k));\nif (intentHits.length >= 3) lead_score = 3;\nelse if (intentHits.length === 2) lead_score = 2;\nelse if (intentHits.length === 1) lead_score = 1;\nif (COMPETITOR_SIGNALS.some(k => combined.includes(k))) lead_score = Math.min(lead_score + 1, 3);\nif (agentResponse.includes('kevin@ritz-ai.solutions')) lead_score = Math.min(lead_score + 1, 3);\nconst intent_flag = lead_score >= 1;\n\nconst ESCALATION_KEYWORDS = [\n  'speak to a human','talk to a human','speak to kevin','talk to kevin',\n  'real person','human support','not helpful','this is useless',\n  'i give up','forget it','frustrated','terrible','awful','waste of time','urgent','emergency','asap'\n];\nconst escalation_hits = ESCALATION_KEYWORDS.filter(k => userMessage.includes(k));\nconst escalation_flag = escalation_hits.length > 0 || agentResponse.includes('kevin@ritz-ai.solutions');\nconst escalation_reason = escalation_hits.length > 0\n  ? 'Triggered by: ' + escalation_hits.join(', ')\n  : agentResponse.includes('kevin@ritz-ai.solutions') ? 'Agent directed user to Kevin' : '';\n\nreturn [{ json: {\n  output: item.json.output || '',\n  sessionId,\n  userMessage: $('Input Validator + Rate Limiter').first().json.message || '',\n  agentResponse: item.json.output || '',\n  timestamp,\n  lead_score,\n  intent_flag,\n  intent_triggers: intentHits.join(', '),\n  escalation_flag,\n  escalation_reason\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        2384
      ],
      "id": "d960c636-12bd-498c-98e0-cc02b82e8c98",
      "name": "Intent Detector"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0eafb95c-4c37-4866-aba0-1da97fcd42eb",
              "leftValue": "={{ $json.intent_flag }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4272,
        2384
      ],
      "id": "24e5110d-615b-4d9c-a371-56b76bcfd942",
      "name": "Lead or Escalation?"
    },
    {
      "parameters": {
        "chatId": "8607686172",
        "text": "=\ud83d\udd25 HOT LEAD DETECTED  Score: {{ $json.lead_score }}/3 Session: {{ $json.sessionId }} Time: {{ $json.timestamp }} Triggers: {{ $json.intent_triggers }}  \ud83d\udcac User: {{ $json.userMessage }}  \ud83e\udd16 Agent: {{ $json.agentResponse }}  {% if $json.escalation_flag %}\u26a0\ufe0f ESCALATION: {{ $json.escalation_reason }} {% endif %}\u2192 Check Google Sheets for full log",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4496,
        2384
      ],
      "id": "d66885f6-ef95-4fe2-96c3-1f2fafa9c931",
      "name": "Telegram Lead Alert",
      "webhookId": "0277865a-6990-4698-8b19-21bb4dbb5e81",
      "credentials": {
        "telegramApi": {
          "id": "9JOKXfrB5X4kegBv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "102DCSdLJXsa74mev9tXAieGUsEgtSEJS-sovWylpKlk",
          "mode": "list",
          "cachedResultName": "RAIS Chat Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/102DCSdLJXsa74mev9tXAieGUsEgtSEJS-sovWylpKlk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1646716758,
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/102DCSdLJXsa74mev9tXAieGUsEgtSEJS-sovWylpKlk/edit#gid=1646716758"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "sessionId": "={{ $json.sessionId }}",
            "notes": "={{ $json.intent_triggers }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4720,
        2384
      ],
      "id": "68d9b2ea-6890-4337-8448-a37ca27e40f8",
      "name": "Log Lead to GSheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ue1v2qVFAhOtRYqa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              },
              {
                "name": "Access-Control-Max-Age",
                "value": "86400"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2912,
        2560
      ],
      "id": "fd8d29b1-deab-4c22-b312-be112b10ce43",
      "name": "Webhook OPTIONS (CORS Preflight)",
      "webhookId": "3ed4f150-19e6-4773-a303-67ba149e35c6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3136,
        2560
      ],
      "id": "a7a52c13-a8c2-4711-8b5c-22ee28fa1da1",
      "name": "Respond OPTIONS 200"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Input Validator + Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Intent Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "PII Privacy Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAIS Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PII Privacy Filter": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validator + Rate Limiter": {
      "main": [
        [
          {
            "node": "Valid Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Input?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Error": {
      "main": [
        [
          {
            "node": "PII Privacy Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Detector": {
      "main": [
        [
          {
            "node": "Lead or Escalation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead or Escalation?": {
      "main": [
        [
          {
            "node": "Telegram Lead Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Lead Alert": {
      "main": [
        [
          {
            "node": "Log Lead to GSheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook OPTIONS (CORS Preflight)": {
      "main": [
        [
          {
            "node": "Respond OPTIONS 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "14fd346f-cd12-4269-b4d5-792bbc659c91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6140dcd1eeef56988d97baa4d030a839e61618e52e7b6b6368007789e07414e1"
  },
  "id": "sAuteNsDOpnken75",
  "tags": []
}
